{{ hash_banner() }}
cmake_minimum_required(VERSION 3.16)
project(cite_generated NONE)

find_package(ament_cmake REQUIRED)

install(
  DIRECTORY
{% for directory in directories %}
    {{ directory }}
{% endfor %}
  DESTINATION share/${PROJECT_NAME}
)

install(FILES GENERATED MODEL_HASH DESTINATION share/${PROJECT_NAME})

ament_package()
